.chart-wrapper {
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items:center;
    // margin: 5% 5%;
    height:100%;
    width:100%;
    #chartdiv {
        height:100%;
        width:100%;
    }
}
@media only screen and (min-width: 600px) {
    .chart-wrapper{
        width:50%;
        #chartdiv{
        }
    }
  }
