html {
	// scroll-behavior: smooth;
	body {
		margin: 0;
		padding: 0;
		.App {
			margin: 0 auto;
			max-width: 1200px;
			height: 200vh;
			// width: 100%;
			// background: lightgrey;
			.container {
				padding-top: 12vh;
				// display: flex;
				// align-items: flex-start;
				// flex-direction: column;
				// height: 50%;
				// paddg: 0 1%;#eee4d1,
				// font-size: 0.75em;
				// font-family: "Roboto", sans-serif;
				// position: relative;
				// background: rgb(255, 255, 255);
				// width: 90%;
				// margin: 0 auto;
				.nyc-logo {
					// background: rgb(238, 228, 209);
					height: 10vh;
					display: flex;
					justify-content: center;
          align-items: center;
          background: linear-gradient(rgb(238, 228, 209), white);
          // background: linear-gradient(#e66465, #9198e5);
				
					img {
						// margin: 25% 0;
						// width: 10%;
						height: 60%;
					}
        }
        .map-container{
          // height:60vh;
        }
				.results-title {
          display:flex;
          align-items:center;
					margin: 0 3%;
					// padding: 0 5% 2%;
					width: 94%;
					height: 10vh;
          font-size: 3vh;
				font-family: "Roboto", sans-serif;
          
					span {
            color: blue;
            padding:1vw;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 600px) {
		body {
			.App {
				.container {
					// .results-title {
					// 	margin: 0;
					// 	font-size: 1.5em;
					// }
				}
			}
		}
	}
	@media only screen and (min-width: 900px) {
		body {
			.App {
				.container {
					// .results-title {
					// 	margin: 0;
					// 	font-size: 2em;
					// }
				}
			}
		}
	}
}
