html {
	body {
		margin: 0;
		padding: 0;
		.App {
			margin: 0 auto;
			max-width: 1200px;
			height: 200vh;
			.container {
				padding-top: 12vh;
				.nyc-logo {
					display: flex;
					align-items: center;
					justify-content: center;
					background: linear-gradient(rgb(238, 228, 209), white);
					height: 10vh;
					img {
						height: 60%;
					}
				}
				.map-container {
				}
				.results-title {
					display: flex;
					align-items: center;
					margin: 0 3%;
					width: 94%;
					height: 10vh;
					font-family: "Roboto", sans-serif;
					font-size: 3vh;
					span {
						padding: 1vw;
						color: blue;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 600px) {
		body {
			.App {
				.container {
				}
			}
		}
	}
	@media only screen and (min-width: 900px) {
		body {
			.App {
				.container {
				}
			}
		}
	}
}
