.react-autosuggest__container {
  width: 100%;
}
.react-autosuggest__input {
  width: 100%;
  padding: 0.5vh 0;
  font-size: 3vw;
  border: 0;
  border-bottom: 1px solid #aaa;
  z-index: 10;
}
@media only screen and(min-width:600px) {
  .react-autosuggest__input {
    font-size: 2vw;
  }
}
@media only screen and(min-width:900px) {
  .react-autosuggest__input {
    font-size: 1vw;
  }
}
.react-autosuggest__input:placeholder-shown {
  font-style: italic;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
}
.react-autosuggest__suggestions-container {
  display: none;
  transform: translateY(2vh);
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 40%;
  border: 1px solid #aaa;
  background-color: lightyellow;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  overflow-y: scroll;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}
.react-autosuggest__section-container--first {
  border-top: 0;
}
.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}
