.header {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: rgb(233, 171, 57);
	width: 100%;
    max-width: 1200px;
   
	// height: 20%;
	justify-content: space-between;
	// margin: 2%;
	// min-height: 20%;
	// position: fixed;
	// background: black;
	.banner {
		display: flex;
		position: fixed;
		flex-direction: column;
		align-items: center;
		z-index: 4;
		margin: 0 auto;
		border-bottom: 1px solid black;
		background: white;
		width: 100%;
		max-width: 1200px;
		height: 55px;
		// justify-content: center;
		.header-link {
			text-decoration: none;
			h2 {
				margin: 2% 0 2% 0;
				text-align: center;
				color: black;
				font-family: Raleway;
			}
		}
		form {
			display: flex;
			justify-content: center;
            width: 80%;
            input{
                // border:1px solid black;
            }
		}
	}
	.nyc-logo {
		display: flex;
        justify-content: center;
        align-items:flex-end;
        margin-top: 85px;
        margin-bottom:1%;
        border: 2px;
        height:20%;
        // transform: translateY(100%);
		img {
			// margin: 2% 0 3%;
			width: 70%;
			// height: 50px;
			// margin: 25% 0;
		}
	}
}
@media only screen and (min-width: 600px) {
	.header {
		// height: 22%;
		.banner {
			flex-direction: row;
			justify-content: space-around;
			.header-link {
				h2 {
					transform: translateY(10%);
					font-size: 3vw;
				}
			}
			form {
				width: 55%;
			}
		}
		.nyc-logo {
            // margin-top: 10%;
        // transform: translateY(140%);
            
			img {
				margin-top: 0;
				width: 60%;
			}
		}
	}
}
@media only screen and (min-width: 900px) {
	.header {
		.banner {
			.header-link {
				h2 {
				}
				form {
					width: 45%;
				}
			}
		}
		.nyc-logo {
			// margin-top: 10%;
			img {
				margin-top: 0;
				width: 50%;
			}
		}
	}
}
