.tree-list {
    overflow-y: scroll;

    scrollbar-width: none;
    position: absolute;
    top: 0;
    background-color: rgba(rgb(42, 112, 136), 0.9);
    width: 50%;
    // margin:0 auto;
    height: 100%;
    color: white;
    padding-top: 12%;
    left: 0;
    display: flex;
    box-sizing: border-box;
    // justify-content: center;
    // display:none;

    div {
        padding: 3%;
        // max-height:50%;
        cursor: pointer;
        width: 100%;

        .spc-count {
            display: flex;
            justify-content: space-around;
            font-family: "Roboto";
            margin-bottom: 0.5em;
        }
    }
}

@media only screen and (min-width: 600px) {
    .tree-list {
        width: 35%;
        padding-top:7%;

        font-size: 1.4em;
    }
}