.tree-list {
    overflow-y: scroll;
    
    scrollbar-width: none;
    position:absolute;
    top:40%;
    background-color:rgba(lightyellow, .9);
    width:90%;
    margin:0 auto;
    height:50%;
 
    left:5%;
    display:flex;
    // justify-content: center;
    // display:none;
 
    div {
        padding: 3%;
        // max-height:50%;
        cursor: pointer;
        width:100%;

        .results-title{
            padding:3%;
            font-size:1.5em;

            span{
                color:blue;
            }
        }
        .spc-count {
            display:flex;
            justify-content: space-around;
            font-family: "Roboto";
            margin-bottom: 0.5em;
        }
    }
}

@media only screen and (min-width: 600px) {
    .tree-list {
        width: 25%;
        height: 80%;
        font-size: 1.4em;
    }
}
