.footer {
  background-image: linear-gradient(white,  #eee4d1);
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-family: Roboto;
  height: 200px;
  div {
    margin:5%;
    a {
      // margin: 5%;
    }
  }background:rgb(248, 244, 244);
}
