.footer {
    background-image: linear-gradient(white, rgb(60, 22, 196), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-content: flex-end;
    font-family: Roboto;
    height: 20vh;
  }