.map-wrapper {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 90%;
	.tree-gif {
		position: absolute;
		left: 20%;
		z-index: 5;
		margin: 0 auto;
		width: 70%;
		height: 80%;
		img {
		}
	}
	.icons {
		border-radius: 5px;
		display: flex;
		position: absolute;
		bottom: 8px;
		right: 8px;
		flex-direction: row;
		justify-content: space-between;
		z-index: 3;
		border-radius: 5px;
		box-shadow: 0.5px 0.5px 0px grey;
		background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
		box-sizing: border-box;
		padding: 8px;
		width: 80px;
		ion-icon {
			z-index: 3;
			color: black;
			font-size: 20px;
		}
	}
	.nav {
		position: absolute;
		top: 8px;
		right: 4px;
		div {
			position: absolute;
			top: 8px;
			right: 4px;
		}
	}
	
	
	.treepin {
		border-radius: 50%;
		background: green;
	}
}
.mapbox-logo {
	display: none;
}
.mapboxgl-ctrl-logo {
	display: none !important;
}
.mapbox-improve-map {
	display: none;
}
.mapboxgl-ctrl-compass {
	display: none;
}
@media only screen and (min-width: 600px) {
	.icons {
		bottom: 25%;
		ion-icon {
			left: 1%;
			font-size: 4em;
		}
	}
}
@media only screen and (min-width: 600px) {
	.map-wrapper{
		height:96%;
	}
}
